$fa-font-path: "../icons/fonts";

/** Fonts **/
$body-font      : 'Work Sans', helvetica, arial, sans-serif;
$display-font   : 'Work Sans', helvetica, arial, sans-serif;
$font           : 'Work Sans', helvetica, arial, sans-serif;

/** Colors **/
$white          : #fff;
$dark-gray      : #212224;
$mid-gray       : #383A3E;
$light-gray     : #424448;
$blue           : #09f;
$brand-primary  : $dark-gray;
$brand-secondary: $dark-gray;
$brand-tertiary : $dark-gray;
$body-color     : $dark-gray;
$orange         : #F05A28;
$offwhite       : #EFEFEF;
$middle-gray    : #383A3E;

/** Font Sizing **/
$body-font-size     : 18px;
$body-line-height   : 27px;
$body-font-weight   : 400;
$body-padding       : 2.25em;
$body-margin        : $body-padding;
$display-font-size  : 40px;
$display-font-weight: normal;
$display-line-height: 1.2em;
