.buttons {
    margin: 0 -15px 20px;
    text-align: center;
    font-size: 0;
    width: 100%;

    &.left {
        text-align: left;
    }

    .button {
        border: 2px solid $orange;
        font-size: 18px;
        line-height: 27px;
        padding: 8px 30px;
        margin: 0 15px;
        display: inline-block;

        &.white-text {
            color: $white;
        }

        &:hover {
            text-decoration: none;
            background-color: $orange;
            color: $white;

            svg {
                color: $white;
            }
        }

        svg {
            color: $orange;
            margin-left: 10px;
            transition: .3s all linear;
        }

        &.orange {
            background-color: $orange;
            color: $white;

            &:hover {
                border-color: $white;
                color: $white;
            }
        }

        &.white {
            background-color: $white;
            color: $black;

            &:hover {
                background-color: $orange;
                color: $white;
            }
        }

        &.black {
            background-color: $black;
            color: $white;

            &:hover {
                background-color: $orange;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .buttons {
        .button {
            padding: 6px 15px;
            font-size: 16px;
            line-height: 24px;
        }
    }
}
