form {
    
    input, textarea {
        background-color: $light-gray;
        // border-color: $white;
        // border-style: solid;
        // outline-color: $orange;
        // outline-style: solid;
        border: 3px solid $white;
        outline: 2px solid $orange;

    }

    label, legend, fieldset {
        font-size: 14px;
        margin-top: 20px;
    }

    .gfield_radio, .gfield_checkbox {
        label {
            margin-top: 5px;
        }
    }

}