.configurator {
    background: $white;
    background: linear-gradient(to right, $white 50%,$mid-gray 50%);
    position: relative;

    .trailer-select {
        @extend .transition;
        width: 100%;
        background-color: $offwhite;
        position: fixed;
        right: 100%;
        z-index: 101;
        top: 89px;
        height: calc(100vh - 89px);
        padding-right: 40px;

        &.open {
            right: 0;
        }

        .lifestyle-select {
            background-color: $orange;
            padding: 1px;
            margin-bottom: 20px;
            margin-right: -3px;

             .lifestyle-button {
                 @extend .no-select;
                height: 110px;
                border: 2px solid $orange;
                position: relative;
                background-size: cover;
                background-position: center;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    cursor: pointer;
                }

                &::before {
                    @extend .transition;
                    position: absolute;
                    content: "";
                    display: block;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    background-color: rgba($black, .4);
                    z-index: 1;
                }

                &.selected {
                    &::before {
                        background-color: rgba($white, .65);
                    }

                    h3 {
                        color: $black;
                    }
                }

                h3 {
                    color: $white;
                    margin-bottom: 0;
                    position: relative;
                    z-index: 2;
                }
             }
        }

        .panel {
            max-width: 1600px;
            margin-left: auto;
            margin-right: auto;
            display: none;

            a {
                text-align: center;
                margin-bottom: 20px;
                font-size: 14px;

                &:hover {
                    background-color: rgba($black, .2);
                    color: $black;
                    text-decoration: none;
                }

                img {
                    margin-bottom: 10px;
                }
            }
        }
        .trailer-button {
            position: relative;
            border: 2px solid $orange;
            padding: 10px 10px 40px 10px;
            margin-bottom: 10px;

            a {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 10;
                margin-bottom: 0;
            }
            > * {
                position: relative;
                z-index: 5;
            }
            .title {
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background: $orange;
                color: $white;
                font-size: 14px;
                line-height: 1.2;
                text-align: center;
                padding: 5px;
            }
            .button-image {
            }
        }

        .close-trailer-select {
            width: 40px;
            color: $white;
            background-color: $orange;
            position: fixed;
            right: 0;
            top: 0;
            bottom: 0;
            text-align: center;
            cursor: pointer;
        }
    }

    .mobile-buttons {
        display: none;
    }

    .trailer-image {
        position: absolute;
        z-index: 2;
        max-width: 450px;
        top: 60px;
        left: 50%;
        transform: translate(-50%, 0);

        &.large-screen {
            display: block;
        }

        &.small-screen {
            display: none;
        }

        > * {
            position: relative;
            z-index: 1;
        }

        img {
            max-width: 100%;
        }

        .front,
        .back,
        .stripe {
            z-index: 2;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }

        .stripe {
            z-index: 3;
        }
    }

    .tools,
    .summary {
        position: relative;
        z-index: 1;
    }

    .tools {
        max-width: 580px;
        width: 100%;
        padding: 50px 0;

        h1 {
            margin: 0 0 20px;
        }

        .switch-trailer {
            margin: 0 0 40px;

            .button {
                margin-left: 0;
            }
        }

        .trailer-image.mobile {
            display: none;
        }
    }

    .option {
        position: relative;
        margin: 0 0 30px;
        @for $i from 1 through 10 {
           &:nth-child(#{$i}) {
             z-index: #{10 - $i};
           }
        }

        h2 {
            font-size: 36px;
            line-height: 1;
            font-weight: 500;
            color: $black;
        }

        hgroup {
            display: flex;
            margin: 0 0 20px;

            h2 {
                width: 50%;
                line-height: 47px;
                margin: 0;
            }

            .buttons {
                width: 50%;
                margin: 0;

                .button {
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }

    .summary {
        color: $white;
        height: 100%;
        padding: 100px 0 50px;

        h2 {
            text-align: right;
            color: $white;

            svg {
                display: none;
            }
        }

        h3 {
            text-align: right;
            color: $white;
            line-height: 52px;
            margin: 0;
        }

        p {
            color: $white;
            background: $dark-gray;
            padding: 20px;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 1;
            margin: 0;
            text-align: left;
        }
        .note {
            display: block;
            margin-top: 3px;
            font-size: 12px;
            line-height: 16px;
        }

        .summary-item {
            margin: 0 0 20px;

            &.has-price {
                p {
                    position: relative;
                    margin-bottom: 22px;

                    span {
                        position: absolute;
                        left: 0;
                        bottom: -22px;
                        padding: 5px 20px;
                        background: $orange;
                        color: $white;
                        font-size: 12px;
                    }
                }
            }
        }

        .buttons {
            margin: 0;

            .button {
                width: 49%;
                margin: 0;

                + .button {
                    margin-left: 2%;
                }
            }
        }
    }

    form {
        li {
            position: relative;
            
            span {
                &:first-child {
                    display: block;
                    padding-right: 130px;
                }
            }
            .premium-color-up {
                display: block;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translate(0,-50%);
                font-size: 12px;
                border: 1px solid $white;
                line-height: 1;
                padding: 3px;
                border-radius: 5px;

                svg {
                    margin-right: 5px;
                }
            }
        }
        .select {

            .select-styled {

                position: relative;
                
                span {
                    &:first-child {
                        display: block;
                        padding-right: 130px;
                    }
                }
                .premium-color-up {
                    display: block;
                    position: absolute;
                    right: 35px;
                    top: 50%;
                    transform: translate(0,-50%);
                    font-size: 12px;
                    border: 1px solid $white;
                    line-height: 1;
                    padding: 3px;
                    border-radius: 5px;

                    svg {
                        margin-right: 5px;
                    }
                }
                background-size: cover;

                &.light {
                    color: $white;

                    &::before {
                        border-top-color: $white;
                    }
                }
            }

            .select-options {
                border-bottom: 2px solid $white;

                li {
                    background-size: cover;

                    &.light {
                        color: $white;
                    }

                    &.dark {
                        color: $black;
                    }
                }
            }
        }
    }

    .package {
        border: 2px solid $orange;
        display: flex;
        margin: 0 0 30px;
        position: relative;

        &.disabled {
            &::after {
                content: '';
                background: rgba(0,0,0,.4);
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: block;
            }
        }

        &.selected {
            .fa-plus {
                display: none;
            }

            .fa-minus {
                display: block;
            }
        }

        .fa-plus {
            display: block;
        }

        .fa-minus {
            display: none;
        }

        .control {
            position: relative;
            width: 90px;
            background: $orange;
            transition: .3s all linear;

            &:hover {
                cursor: pointer;
                background: $mid-gray;
            }
            
            svg {
                color: $white;
                font-size: 40px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }

        .contents {
            width: calc(100% - 90px);
            padding: 20px;

            svg {
                color: $orange;
                margin: 0 0 0 7px;

                &:hover {
                    cursor: pointer;
                }
            }

            .rft {
                display: inline-block;
                border: 1px solid $orange;
                color: $orange;
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: .5px;
                line-height: 1;
                padding: 5px 10px;
                margin: 0 0 5px;
                position: relative;
                top: -10px;
            }

            ul {
                list-style: none;
                margin-left: 20px;
                margin-bottom: 0;

                li {
                    position: relative;
                    margin: 0 0 5px;
                    font-size: 15px;
                    line-height: 19px;

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        left: -20px;
                        top: 6px;
                        border: 2px solid $orange;
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                    }

                    &.tooltip {
                        .tip {
                            display: none;
                            position: absolute;
                            left: -20px;
                            right: 0;
                            bottom: 100%;
                            background: $mid-gray;
                            border-bottom: 2px solid $orange;
                            color: $white;
                            padding: 10px;
                            font-size: 12px;
                            line-height: 16px;

                            &::before {
                                content: '';
                                position: absolute;
                                bottom: -8px;
                                left: 17px;
                                width: 0; 
                                height: 0; 
                                border-left: 8px solid transparent;
                                border-right: 8px solid transparent;
                                border-top: 8px solid $orange;
                            }
                        }

                        &:hover {
                            .tip {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.75);
    z-index: 1200;

    .modal-content {
        position: absolute;
        width: 900px;
        background: $dark-gray;
        padding: 40px 200px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 100%;

        &::-webkit-scrollbar {
            width: 0;
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: #FF0000;
        }

        hgroup {
            text-align: center;

            h2 {
                color: $white;

                &.advanced {
                    display: none;
                }
            }
        }
    }

    .modal-form {
        .gform_confirmation_message {
            text-align: center;
            color: $white;
        }

        .gform_submission_error {
            font-size: 18px;
            text-align: center;
            line-height: 24px;
        }

        .gfield_validation_message {
            color: $white;
            font-size: 12px;
            line-height: 12px;
            margin: -10px 0 15px;
        }

        form {
            .gform_fields {
                display: flex;
                flex-wrap: wrap;
                width: calc(100% + 16px);
                margin-left: -8px;

                .gfield {
                    width: calc(100% - 16px);
                    margin: 0 8px;
                }

                .gfield--width-half {
                    width: calc(50% - 16px);
                }
            }

            label {
                color: $white;
            }

            input[type="email"],
            input[type="text"],
            input[type="number"],
            input[type="tel"] {
                border: 0;
                color: $white;
            }

            input[type="checkbox"] + label {
                &::before {
                    background: transparent;
                }

                &::after {
                    background: transparent;
                }
            }

            .hidden_label legend {
                display: none;
            }

            .instruction {
                display: none;
            }

            .gform_footer {
                margin: 15px 0 0;
            }
        }
    }
}

@media screen and (max-width: 1919px) {
    .configurator {
        .tools {
            width: 65%;
        }

        .summary {
            .buttons {
                .button {
                    width: 100%;
                    display: block;
                    margin: 0;

                    + .button {
                        margin-top: 10px;
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1750px) {
    .configurator {
        .trailer-image {
            max-width: 320px;
        }

        .option {
            hgroup {
                margin: 0 0 10px;

                h2 {
                    font-size: 21px;
                    line-height: 32px;
                }

                .buttons {
                    .button {
                        font-size: 12px;
                        line-height: 12px;
                        padding: 8px 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .configurator {
        .trailer-image {
            left: auto;
            right: 80px;
            transform: none;
            top: 30px;
            max-width: 450px;
        }

        .summary {
            padding-top: 340px;
        }

        .tools {
            width: 100%;
            max-width: 100%;
            padding-right: 30px;
        }
    }
}

@include media-breakpoint-down(lg) {
    .configurator {
        .summary {
            padding: 30px 0 30px 30px;

            h3 {
                font-size: 18px;
            }
        }

        .trailer-image {
            &.large-screen {
                display: none;
            }

            &.small-screen {
                display: block;
                position: relative;
                top: auto;
                left: auto;
                right: auto;
                bottom: auto;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .configurator {
        background: $white;

        > .container {
            width: 100%;
            max-width: 100%;
            padding: 0;

            > .row {
                margin-left: 0;
                margin-right: 0;
            }
        }

        .mobile-buttons {
            display: block;
            background: $mid-gray;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 100;
            
            .buttons {
                display: flex;
                margin: 0;

                .button {
                    width: 50%;
                    margin: 0;
                }
            }
        }

        .summary-container {
            background: $mid-gray;
            position: fixed;
            z-index: 1100;
            height: 100vh;
            top: 100vh;
            transition: .3s all ease-out;
            overflow-y: scroll;

            &.open {
                top: 0;

                .button-container {
                    display: block;
                    opacity: 1;
                }
            }

            &::-webkit-scrollbar {
                width: 0;  /* Remove scrollbar space */
                background: transparent;  /* Optional: just make scrollbar invisible */
            }

            &::-webkit-scrollbar-thumb {
                background: #FF0000;
            }
        }

        .summary {
            padding: 20px 0;

            .trailer-image.small-screen {
                display: none;
            }

            h2 {
                text-align: left;
                font-size: 24px;
                line-height: 1;
                margin: 0 0 20px;

                svg {
                    display: block;
                    float: right;
                    color: $orange;
                    font-size: 16px;
                    transition: .3s linear all;
                    position: relative;
                    top: 5px;

                    &:hover {
                        cursor: pointer;
                        color: $white;
                    }
                }
            }

            h3 {
                text-align: left;
                line-height: 1;
                margin: 0 0 7px;
            }

            p {
                margin-left: -15px;
                margin-right: -15px;
                padding: 8px 15px;
                line-height: 1.2;
                font-size: 14px;
            }

            .summary-item {
                margin: 0 0 25px;

                &.has-price {
                    p {
                        span {
                            bottom: -24px;
                        }
                    }
                }
            }

            .button-container {
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 0;
                margin: 0;
                display: none;
                transition: .3s all linear;
                opacity: 0;

                > .col-xl-6 {
                    padding: 0;
                    margin: 0;
                }
            }

            .buttons {
                display: flex;

                .button {
                    width: 50%;
                }
                .button + .button {
                    margin-top: 0;
                }
            }
        }

        .tools {
            padding: 30px 0 0 0;

            .switch-trailer {
                margin: 0 0 10px;

                .button {
                    font-size: 12px;
                    line-height: 12px;
                    padding: 8px 10px;
                }
            }

            .trailer-image.mobile {
                display: block;
                position: relative;
                max-width: 100%;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                text-align: center;
                margin: 0 0 20px;
            }

            h1 {
                margin-bottom: 10px;
            }
        }

        .package {
            h3 {
                font-size: 16px;
                line-height: 1;
                margin: 0 0 5px;
            }

            .contents {
                padding: 10px;

                .rft {
                    top: 0;
                }

                li {
                    font-size: 14px;
                    line-height: 18px;
                    margin: 0 0 2px;
                }
            }

            .control {
                svg {
                    font-size: 28px;
                }
            }
        }
        .trailer-select {
            top: 67px;
            height: calc(100vh - 67px);
            overflow-y: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;
            
            &::-webkit-scrollbar {
                display: none;
            }

            .lifestyle-select {
                .lifestyle-button {
                    height: 60px;
                }
            }

            .trailer-button {
                .title {
                    font-size: 12px;
                }
            }
        }
    }

    .modal {
        .modal-content {
            width: 90%;
            max-height: 90%;
            padding: 30px;
        }
    }
}

@include media-breakpoint-down(xs) {
    .configurator {
        .mobile-buttons {
            letter-spacing: -.5px;
        }

        .option {
            hgroup {
                flex-wrap: wrap;

                h2,
                .buttons {
                    width: 100%;
                }
            }
        }

        .trailer-select {
            .lifestyle-select {
                margin-bottom: 10px;

                .lifestyle-button {
                    height: 50px;
                }
            }

            .panel {
                a {
                    padding: 0;
                }
            }
        }
    }

    .modal {
        .modal-form {
            form {
                .gform_fields {
                    .gfield {
                        width: 100%;
                        margin: 0;
                    }

                    .gfield--width-half {
                        width: 100%;
                        margin: 0;
                    }
                }

                input[type="checkbox"] + label {
                    font-size: 14px;
                }
            }
        }
    }
}
@media screen and (max-height: 767px) {
    .configurator {
        .container-fluid {
            max-width: 900px;
            margin-left: auto;
        }
        .trailer-select {
            .lifestyle-select {
                .lifestyle-button {
                    height: 50px;

                    h3 {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
