.home {
    font-family : $font;

    h1 {
        margin-bottom: 30px;
    }

    .copy {
        margin-bottom: 60px;

        p {
            font-size: 24px;
            font-weight: 300;
            line-height: 36px;
            color: $black;
        }
    }

    .lifestyle {
        
    }

    .build {
        background-image: url(../img/config-section-bg.png);
        background-size: cover;
        background-position: center;
        padding: 80px 0;
        margin-top: 60px;

        img {
            margin-left: 50px;
        }

        p {
            color: $white;
            text-align: center;
            font-weight: 300;

            &.title {
                margin: 0 0 15px;
                font-weight: 700;
            }
        }

        .buttons {
            margin-bottom: 0;
        }
    }

    .video {
        margin-top: 80px;

        video {
            width: 100%;
        }
    }

    .testimonials {
        margin: 80px 0;

        .header {
            font-size: 42px;
            font-weight: 600;
            line-height: 56.3px;
            color: $orange;
            text-align: left;
        }

        .subheader {
            font-size: 24px;
            font-weight: 300;
            line-height: 36px;
            color: $black;
            text-align: left;
        }

        .testimonial {
            background-color: $offwhite;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            padding: 50px;
            margin-bottom: 30px;
            text-align: center;

            h3.quote {
                font-size: 24px;
                font-weight: 300;
                line-height: 36px;
                color: $black;
            }

            h3.person {
                font-size: 24px;
                font-weight: 500;
                line-height: 36px;
                color: $black;
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    .home {
        h1 {
            margin-top: 30px;
        }

        .build {
            img {
                margin-left: 20px;
            }

            p {
                margin-right: 20px;

                &.title {
                    font-size: 40px;
                    line-height: 48px;
                    margin-bottom: 10px;
                }
            }
        }

        .testimonials {
            .testimonial {
                padding: 30px;
            }

            .header {
                font-size: 40px;
                line-height: 48px;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .home {

        .build {
            padding: 60px 0;
            background-position-x: 30%;

            img {
                margin: 0;
            }

            p {
                margin-right: 0;
            }
        }

        .testimonials {
            .header {
                text-align: center;
            }

            .subheader {
                text-align: center;
                margin-bottom: 35px;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .home {
        p.title {
            font-size: 40px;
            margin-top: 0;
        }

        .build {
            background-position-x: 45%;
        }

        .lifestyle {
            .image {
                height: 200px;
                padding-top: 0;
            }
        }

        .testimonials {
            .header {
                font-size: 32px;
                line-height: 37px;
            }

            .subheader {
                font-size: 21px;
                line-height: 29px;
            }

            .testimonial {
                h3.quote {
                    font-size: 18px;
                }

                h3.person {
                    font-size: 18px;
                }
            }
        }
    }
}
