.fancy-cols {
    margin-bottom: 60px;

    .bg-orange {
        background-color: $orange;

        h1 {
            padding: 30px;
            color: $white;
            margin-bottom: 0;
        }
    }

    .bg-gray {
        background-color: $middle-gray;
        color: $white;
        padding-left: 15px;
        padding-right: 15px;

        .secondary {
            padding-top: 30px;
            padding-bottom: 30px;
            width: 100%;

            .header_card {
                background-color: $dark-gray;
                width: 100%;
                padding: 30px 15px 15px 40px;
            }
        }

        ul {
            list-style-image: url(../img/listitem.png);
            padding-bottom: 0;

            li {
                font-size: 18px;
                line-height: 27px;
                color: $white;
                font-weight: normal;
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0;
                }

                &::before {
                    display: inline-block;
                    width: 1em;
                }
            }
        }
    }
}

@include media-breakpoint-down(md){
    .fancy-cols {
        .bg-gray {
            .secondary {
                .header_card {
                    padding-top: 30px;
                    padding-left: 30px;
                }
            }
        }
    }
}