.footer {
    background-color: $dark-gray;
    padding-top: 60px;
    font-family : $font;
    color: $white;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            float: none;

            svg:not(:root).svg-inline--fa{
                position: absolute;
                top: 6px;
                color: $orange;
            }
            a {
                position: relative;
                display: block;
                color: $white;

                .text {
                    display: block;
                    color: $white;
                    padding-left: 30px;
                }

                &:hover {
                    color: $orange;
                }
            }
        }
    }
    a {
        &:visited {
            color: $white;
        }

        &:hover {
            text-decoration: none;
        }
    }
    p {
        a {
            border-bottom: 1px solid transparent;

            &:hover {
                border-bottom: 1px solid $white;
            }
        }
    }
    h3 {
        display: flex;
        max-width: 210px;
        margin: 0 auto;
        color: $white;
        font-weight: 300;
        margin-bottom: 20px;

        &.title{
            font-size: 22px;
        }
    }

    .gform_wrapper {
        display:block;
        margin: 0 auto;

        h3.gform_title{
            display: none;
        }

        .gform_body {
            color: $white;
            font-size: 14px;
            line-height: 150%;
            text-transform: uppercase;
            font-weight: normal;
            font-family: 'Work Sans';
        }
        .ginput_container {
            border: 2px solid #F05A28;
            background-color: #212224;

            input {
                background-color: rgb(255, 255, 255, 0.2);
                margin: 6px;
                inline-size: -webkit-fill-available;
                padding: 5px;
                font-size: 18px;
                font-weight: 400;
                color: $white;
                transition: .3s linear all;

                &:focus{
                    background-color: #F05A28;
                    background-color: #a8a19e;
                }
            }
            input::placeholder {
                color: $black;
                opacity: 1 !important;
            }
        }
    }
    .img {
        display: flex;
        max-width: 210px;
        margin: 0 auto;
        margin-top: 25%;
    }
    .contact {
        display: flex;
        max-width: 210px;
        margin: 0 auto;

        a {
            margin-bottom: 10px;
            font-size: 14px;
            .text {
                transition: .3s linear all;
            }
            &:hover {
                .text {
                    color: $orange;
                }
            }
        }
    }
    .cover {
        display: flex;
        max-width: 210px;
        margin: 0 auto;

        a {
            display: block;
            font-size: 14px;
            line-height: 1;
            text-transform: uppercase;
        }
        li + li {
            margin-top: 15px;
        }

        .site {
            width: 50%;
        }
    }
    .footer-block {
        position: relative;

        &::before,
        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 1px;
            background-color: $white;
        }
        &::before {
            top: 0;
            bottom: 0;
            left: 0;
        }
        &::after {
            top: 0;
            bottom: 0;
            right: 0;
        }
        + .footer-block {
            &::before {
                display: none;
            }
        }
        &:first-child {
            &::before {
                display: none;
            }
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }
    .newsletter {
        width: calc(100% - 70px);
        margin: 0 auto;

        input[type="submit"] {
            display: block;
            background-color: $orange;
            padding: 10px 20px;
            margin: 10px 0 0;
            text-transform: uppercase;
            text-align: center;
            color: $white;
            cursor: pointer;
            width: 100%;
            background-size: 200% auto;
            margin-top: 10px;
            position: relative;
            top: 0;

            &:hover {
                top: -3px;
            }
        }
    }

    .sub-footer {
        background: $black;
        color: $white;
        margin: 60px 0 0;

        a {
            text-transform: uppercase;
            color: $white;
            display: inline-block;
            margin: 0 20px 0 0;
            font-size: 14px;
            line-height: 40px;

            &:hover {
                color: $orange;
            }
        }
        .endstack{
            p {
                display: inline-block;
                font-size: 14px;
                line-height: 40px;
                opacity: .75;
                padding: 0 0 0 10px;
                margin: 0;
                color: $white;
            }
        }
    }
}
@include media-breakpoint-down(lg){
    .footer{
        .newsletter {
            width: 100%;
        }
    }
}
@include media-breakpoint-down(md) {
    .footer {
        padding-top: 30px;

        .img {
            margin-top: 40px;
        }

        h3{
            max-width: none;
        }
        .contact {
            max-width: none;
        }
        .cover{
            max-width: none;
        }
        .contactt {
            margin-top: 25px;
            margin-bottom: 20px;
        }
        .footer-block {

            &::after {
                content: none;
            }
        }

        .title {
            margin-top: 30px;
        }
    }
}

@include media-breakpoint-down(sm) {
    .footer {
        h3, h3.title{
            display: block;
            text-align: center;
        }
        .contact {
            display: flex;
            justify-content: center;
            text-align: center;
        }
        .cover{
            display: flex;
            justify-content: center;
            text-align: center;

        }
        form {
            text-align: center;
            label{
                display: block;
                text-align: left;
            }
        }

        ul{
            li{
                svg:not(:root).svg-inline--fa{
                    left: 6px;
                }
            }
        }
    }
}
