.footer {
    background-color: $dark-gray;
    padding-top: 60px;

    a,
    p,
    .title {
        color: $white;
        text-align: center;
    }

    a,
    p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 10px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    a {
        &:visited {
            color: $white;
        }

        &:hover {
            text-decoration: none;
        }
    }
    
    p {
        a {
            border-bottom: 1px solid transparent;

            &:hover {
                border-bottom: 1px solid $white;
            }
        }
    }

    .title {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
    }


    ul {
        list-style-type: none;
        margin-bottom: 0;

        li {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                display: block;
                background-color: $dark-gray;
                padding: 15px 20px;
                border: 1px solid transparent;

                &:hover {
                    border: 1px solid $white;
                }
            }
        }
    }

    .newsletter {
        input[type="submit"] {
            display: inline-block;
            font-family: $body-font;
            border-radius: 20px;
            padding: 9px 20px;
            margin: 0;
            font-size: 15px;
            line-height: 18px;
            text-transform: uppercase;
            text-align: center;
            font-weight: 400;
            color: $white;
            cursor: pointer;
            box-shadow: 0 3px 5px -5px rgba(0,0,0,.3);
            outline: none;
            width: 100%;
            border: 0;
            background-size: 200% auto;
            // background-image:
            //     linear-gradient(
            //         90deg,
            //         rgba($blue, 1)    0%,
            //         rgba($dark-gray, 1)   50%,
            //         rgba($white, 1)    100%,
            //     )
            // ;

            &:hover {
                color: $white;
                background-position-x: 100%;
            }
        }

        .validation_error {
            color: $dark-gray;
        }

        .validation_message  {
            margin: -15px 0 20px;
            color: $dark-gray;
        }

        .gform_confirmation_message {
            color: $blue;
        }
    }

    .social {
        text-align: center;
        font-size: 0;
        margin-top: 15px;

        a {
            display: inline-block;
            font-size: 18px;
            width: 25px;
            height: 25px;
            margin: 0 5px;
            background-color: $white;
            color: $dark-gray;
            line-height: 25px;

            &:hover {
                color: $dark-gray;
            }
        }
    }

    .sub-footer {
        background-color: $dark-gray;
        line-height: 36px;
        margin-top: 60px;
        text-align: center;
        color: $white;
        font-size: 14px;

        a {
            text-transform: uppercase;
            color: $white;
            display: inline-block;
            font-size: 16px;
            margin-bottom: 0;
            padding: 0 10px;
            line-height: 36px;

            &:hover {
                background-color: $dark-gray;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .footer {
        padding-top: 30px;

        .title {
            margin-top: 30px;
        }
    }
}

@include media-breakpoint-down(sm) {
    .footer {
        form {
            text-align: center;
        }
    }
}