.footer {
    background-color: $dark-gray;
    padding-top: 60px;
    font-family : $font;
    color: $white;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            float: none;
        }
    }

    .gform_wrapper {

        display:block;
        margin: 0 auto;

         h3.gform_title{
            display: none;
        }

        .gform_body {
            color: $white;
            font-size: 14px;
            line-height: 150%;
            text-transform: uppercase;
            font-weight: normal;
            font-family: 'Work Sans';
        }

        
        .ginput_container {
            border: 2px solid #F05A28;
            box-sizing: border-box;
            background-color: #212224;
            width: 100;

        input {

            background-color: #FFFFFF;
            opacity: 0.2;
            margin: 6px;
            inline-size: -webkit-fill-available;
            padding-left: 18px;
            font-size: 18px;
            font-weight: 400;
        }
        input::placeholder {
            color: $black;
            opacity: 1 !important;
        }
    }
    }

    .img{
        
        display: flex;
        max-width: 210px;
        margin: 0 auto;
        margin-top: 25%;
    }

    a {
        &:visited {
            color: $white;
        }

        &:hover {
            text-decoration: none;
        }
    }
    
    p {
        a {
            border-bottom: 1px solid transparent;

            &:hover {
                border-bottom: 1px solid $white;
            }
        }
    }

    h3 {

        display: flex;
        max-width: 210px;
        margin: 0 auto;
        color: $white;
        font-weight: 300;
        margin-bottom: 20px;
        // width: calc(100% - 110px);
        // margin: 0 auto;
        // margin-bottom: 15px;
        
    }

    h3.title{
        font-size: 22px;
    }

    .contact{
        // display: flex;
        // max-width: 210px;
        // margin: 0 auto;
        width: calc(100% - 145px);
        margin: 0 auto;

    }

    .cover {
        display: flex;
        max-width: 210px;
        margin: 0 auto;

        .site {
            width: 50%;
        }

        a {
            display: block;
            font-size: 14px;
            line-height: 1;
            text-transform: uppercase;
        }
        li + li {
            margin-top: 15px;
        }
    }
    .vl {

        width: 2px;
        height: 200px;
        border-right: 6px solid rgba(255, 255, 255, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        }
    .footer-block {
        position: relative;

        &::before,
        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 1px;
            background-color: $white;
        }
        &::before {
            top: 0;
            bottom: 0;
            left: 0;
        }
        &::after {
            top: 0;
            bottom: 0;
            right: 0;
        }
        + .footer-block {
            &::before {
                display: none;
            }
        }
        &:first-child {
            &::before {
                display: none;
            }
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }
    .newsletter {
        width: calc(100% - 70px);
        margin: 0 auto;

        input[type="submit"] {
            display: inline-block;
            font-family: $body-font;
            background-color: $orange;
            padding: 9px 20px;
            margin: 0;
            font-size: 18px;
            line-height: 150%;
            text-transform: uppercase;
            text-align: center;
            font-weight: normal;
            color: $white;
            cursor: pointer;
            outline: none;
            width: 100%;
            border: 0;
            background-size: 200% auto;
            margin-top: 10px;
            &:hover {
                color: $white;
                background-position-x: 100%;
            }
        }
    }

    .sub-footer {
        background-color: $black;
        line-height: 21px;
        margin-top: 60px;
        color: $white;
        font-size: 14px;
        font-weight: 400;
        a {
            text-transform: uppercase;
            color: $white;
            display: inline-block;
            font-size: 16px;
            margin-bottom: 0;
            padding: 0 10px;
            line-height: 36px;

            &:hover {
                background-color: $black;
            }
        }
        .endstack{
            margin-top: 5px;
            p {
                display: inline-block;
                padding: 0 10px;
                font-size: 14px;
                line-height: 1px;
                color: $white;
                opacity: 0.75;

            }
        }
    }
}

@include media-breakpoint-down(md) {
    .footer {
        padding-top: 30px;

        .title {
            margin-top: 30px;
        }
    }
}

@include media-breakpoint-down(sm) {
    .footer {
        form {
            text-align: center;
        }
    }
}