/* =============================================================================
   Header
   ========================================================================== */
.header {
	position: relative;
	z-index: 100;

    li {
        float: left;
    }
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: $orange;
        }
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .secondary {
        background-color: black;
        font-size: 14px;

        .container {
            position: relative;
        }

        a {
            line-height: 36px;
            padding: 0 20px;
            font-weight: 300;
            text-transform: uppercase;
        }

        .brand {
            width: 209px;
            position: absolute;
            z-index: 10;
            top: 15px;
            left: 80px;
            padding: 0;
        }
    }
    .button {
        background-color: $orange;
        line-height: 12px;
        height: 40px;
        margin: 5px 50px 0 0;
    }
    .phone {
        color: $orange;
    }
    .phone:hover {
        color: white;
    }
    .fa-linkedin, 
    .fa-facebook, 
    .fa-youtube {
        color: $orange;
        transition: all .3s linear;

        &:hover {
            color: $white;
        }

    }
    .top-menu-social {
        ul {
            li {
                .phone {
                    font-size: 14px;
                    font-weight: 700;
                }
                a {
                    font-size: 20px;
                    padding: 0;
                    margin-left: 20px;
                }
            }
        }
    }
    .main {
        background-color: #212224;
        color: white;
        font-size: 18px;
        font-family: $font;
        font-weight: 600;

        ul {
            li {
                margin: 0 15px;

                a {
                    padding: 0 10px;
                    line-height: 70px;
                }
                
                &:last-child {
                    padding: 15px 0;
                    margin-right: 0;

                    a {
                        background-color: $orange;
                        line-height: 40px;

                        &:hover {
                            background-color: $white;
                        }
                    }
                }
            }
        }
    }

    /* =============================================================================
    Navigation
    ========================================================================== */
    .navigation {
        display: inline-block;
        font-size: 0;
        float: right;
        
        li {
            display: inline-block;
        }
        a {
            font-size: 16px;
            line-height: 30px;
            display: block;
            padding: 0 10px;
        }
        .dropdown {
            position: relative;
        }
        .dropdown-wrapper {
            display: none;
            position: absolute;
            top: 30px;
            right: 0;

            li {
                display: block;
                border-bottom: 1px solid rgba(0,0,0,.6);

                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }
    .mobile {
        display: none;
        position: relative;
        height: 56px;
    }
}
@include media-breakpoint-down(lg) {
    .header {
        .main {
            ul {
                li {
                    &:last-child {
                        a {
                            padding: 0 10px;
                        }
                    }
                    a {
                        padding: 0;
                        font-size: 16px;
                    }
                }
            }
        }
        .secondary {
            a {
                padding: 0 10px;

                &.brand {
                    left: 15px;
                    padding: 0;
                }
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .header {
        .main {
            .primary {
                display: none;
            }
            .mobile {
                display: block;

                .mobile-trigger {
                    background: $orange;
                    color: $white;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    width: 56px;
                    text-align: center;
                    font-size: 22px;
                    line-height: 56px;

                    &:hover {
                        background: $white;
                        color: $orange;
                    }
                }
            }
        }
        .secondary {
            .top-menu-links {
                display: none;
            }
        }
    }
}
@include media-breakpoint-down(xs) {
    .header {
        .secondary {
            .top-menu-social {
                text-align: center;
                width: 100%;
            }

            .brand {
                width: 140px;
                left: 0;
                top: 38px;

                img {
                    max-width: 100%;
                }
            }
        }
        .main {
            .container {
                padding: 0;
            }
        }
    }
}
