/* =============================================================================
   Header
   ========================================================================== */
.header {
	position: relative;
	z-index: 100;

    li {
        float: left;
    }
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 10px 20px;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: $orange;
        }
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .mobile-nav,
    .mobile-navigation {
        display: none;
    }
    .secondary {
        background-color: black;
        font-size: 14px;
        position: relative;
        z-index: 100;
    }
    .brand {
        width: 200px;
        float: left;
    }
    .formulaicon {
        position: absolute;
        margin: 20px 0 0 40px;
    }
    .button {
        background-color: $orange;
        line-height: 12px;
        height: 40px;
        margin: 5px 50px 0 0;
    }
    .phone {
        color: $orange;
    }
    .phone:hover {
        color: white;
    }
    .fa-linkedin, 
    .fa-facebook, 
    .fa-youtube {
        color: $orange;
        transition: all .3s linear;

        &:hover {
            color: $white;
        }

    }
    .top-menu-links {
        .has-dropdown {
            display: flex;
            justify-content: center;

            &.active {
                overflow-y: visible;

                > a {
                    color: $orange;
                }
            }
        }
        .dropdown {
            position: absolute;
            margin-top: 76px;                    
            display: none;
            z-index: 3;

            > ul {
                position: relative;
                text-align: center;
                width: 100%;
                z-index: 5;
                display: block;
                background-color: $dark-gray;
                padding: 1px;

                > li {
                    @extend .transition;
                    display: block;
                    float: none;
                    margin: 0 0 1px 0;
                    background-color: $middle-gray;

                    &:hover {
                        background-color: $dark-gray;

                       > a {
                            color: $orange;
                        }

                        + li {
                            > a {                    
                                &::before {
                                    opacity: 0;
                                }
                            }
                        }
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &:first-child {
                        > a {
                            &::before {
                                display: none;
                            }
                        }
                    }                         

                    > a {
                        color: $white;
                        font-weight: 400;
                        text-transform: uppercase;
                        font-size: 14px;
                        line-height: 16px;
                        display: block;
                        padding: 15px;

                    }
                }
            }
        }
    }
    .top-menu-social {
        ul {
            margin-right: -15px;

            li {
                .phone {
                    font-size: 14px;
                }
                a {
                    font-size: 20px;
                }
            }
        }
    }
    .main {
        background-color: #212224;
        color: white;
        font-size: 18px;
        font-family: $font;
        font-weight: 600;

        ul {
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                margin: 0 10px;
                
                &:last-child {
                    background-color: $orange;
                    line-height: 13px;
                }
                &:last-child:hover {
                    background-color: white;
                    transition: all 0.3s ease;
                }

                a { 
                    display: block;
                    position: relative;

                 +.dropdown {
                    position: absolute;
                    display: none;
                    margin-top: 76px;                    
                    z-index: 3;

                    > ul {
                        position: relative;
                        text-align: center;
                        width: 100%;
                        z-index: 5;
                        display: block;
                        background-color: $dark-gray;
                        padding: 1px;

                        > li {
                            @extend .transition;
                            display: block;
                            float: none;
                            margin: 0 0 1px 0;
                            background-color: $middle-gray;

                            &:hover {
                                background-color: $dark-gray;

                               > a {
                                    color: $orange;
                                }

                                + li {
                                    > a {                    
                                        &::before {
                                            opacity: 0;
                                        }
                                    }
                                }
                            }

                            &:last-child {
                                margin-bottom: 0;
                            }

                            &:first-child {
                                > a {
                                    &::before {
                                        display: none;
                                    }
                                }
                            }                         

                            > a {
                                color: $white;
                                font-weight: 400;
                                text-transform: uppercase;
                                font-size: 14px;
                                line-height: 16px;
                                display: block;
                                padding: 15px;

                            }
                        }
                    }
                }

                }
                
            }
        }
        .has-dropdown {
            display: flex;
            justify-content: center;

            &.active {
                overflow-y: visible;

                > a {
                    color: $orange;
                }
            }
        }

    }
}
@include media-breakpoint-down(lg) {
    .header {
        .main ul li {
            margin: 0 5px;
        }
        li {
            a {
                padding: 10px;
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .header {
        .primary {
            display: none;
        }
        .secondary {
            .container {
                max-width: 100%;
            }
            .top-menu-links,
            .top-menu-social {
                display: none;
            }
        }
        .mobile-nav {
            display: block;
            position: relative;
        }
        .main {
            .container {
                max-width: 100%;
            }
        }
        .formulaicon {
            margin: 0;

            img {
                width: 120px;
                position: absolute;
                left: 15px;
                top: 14px;
            }
        }
        .main {
            ul {
                display: block;

                li {
                    margin: 0;
                    width: 100%;

                    &:hover {
                        background: transparent;
                    }
                    a {
                        display: block;
                        text-align: right;
                        width: 100%;
                        font-size: 18px;
                        line-height: 1;
                        padding: 10px 15px;

                        &:hover {
                            background: transparent;
                            color: $orange;
                        }
                    }
                    &:last-child {
                        background: transparent;

                        a {
                            background: $orange;
                            color: $white;
                        }
                    }
                }
            }
            .mobile-trigger {
                font-size: 24px;
                line-height: 67px;
                color: $orange !important;

                &:hover,
                &.active {
                    color: $white;
                }   
            }
            .mobile-navigation {
                position: absolute;
                top: 67px;
                right: -15px;
                width: 300px;
                background: $dark-gray;
                border-top: 1px solid $dark-gray;

                li {
                    display: block;
                }
                .has-dropdown {
                    position: relative;

                    ul {
                        display: none;
                    }
                    span {
                        position: absolute;
                        display: block;
                        z-index: 2;
                        right: 0;
                        top: 0;
                        width: 38px;
                        text-align: center;
                        line-height: 38px;
                        color: $orange;
                        font-size: 12px;
                        cursor: pointer;
                        transition: .3s all linear;

                        svg {
                            transition: .3s all linear;
                        }

                        &:hover,
                        &:focus {
                            background: $orange;
                            color: $white;
                        }
                        &.active {
                            background: $orange;
                            color: $white;

                            svg {
                                transform: rotate(-135deg);
                            }
                        }
                    }
                    a {
                        position: relative;
                        z-index: 1;
                        padding-right: 43px;
                    }
                    .dropdown {
                        background: $mid-gray;

                        a {
                            padding-right: 15px;
                            font-size: 14px;
                            background: transparent;

                            &:hover {
                                color: $orange;
                            }
                        }
                        li {
                            &:hover {
                                background: transparent;
                            }
                        }
                    }
                }
                .secondnav {
                    background-color: $middle-gray;

                    li {
                        a {
                            text-transform: uppercase;
                            font-weight: 400;
                            font-size: 14px;

                            &:last-child {
                                background: transparent;

                                &:hover {
                                    color: $orange;
                                }
                            }
                        }
                        &:last-child {                   
                            background-color: none;

                            &:hover {
                                background: transparent;
                            }
                        }
                    }
                    .has-dropdown {
                        .dropdown {
                            background: rgba(255,255,255,.05);
                        }
                        span {
                            width: 38px;
                            line-height: 34px;
                        }
                    }
                }
            }
        }
    }
}
