#hero {

    position: relative;

    h1 {
        font-weight: 600;
        font-size: 64px;
        line-height: 75px;
        color: $white;
    }

    .top-text {
        width: 40%;
        margin: 50px 0 0 50px;
        position: absolute;
        
    }

    .zip-code-section {
        input {
            background-color: rgba($white, .2);  
            outline: 2px solid $orange;
            width: 100px;
            padding: 10px;        
            color: $white;  
        }

        h4 {
            color: $white;
            font-weight: 500;
            font-size: 24px;
        }

        h5, h6 {
            color: $white;
        }

        position: absolute;
        bottom: 70px;
        right: 70px;

        .submit-btn {
            background-color: $orange;
            margin: 10px;
            padding: 10px 30px;
            color: $white;
            cursor: pointer;
        }

    }

    .hero-home {
        background-image: url('../img/home-header.png');
        height: 100vh;
    }

    .hero-contact {
        background-image: url('../img/subpage-header.png');
        height: 100vh;
        background-repeat: no-repeat;
    }

    .hero-standardsubpage {
        
        background-image: url('../img/subpage-header.png');
        height: 100vh;
        background-repeat: no-repeat;
        

        h2 {
            font-weight: 600;
            font-size: 48px;
            
        }

        p {
            color: white;
            font-weight: 300;
            font-size: 24px;
            line-height: 150%;
        }

        .first-btn {
            color: $white;
            outline: 2px solid $orange;
            margin: 10px;
            padding: 10px 30px;
            cursor: pointer;
        }

        .second-btn {
            background-color: $orange;
            margin: 10px;
            padding: 10px 30px;
            color: $white;
            cursor: pointer;
        }
    }




}