#hero {

    position: relative;

    h1 {
        font-weight: 600;
        font-size: 64px;
        line-height: 75px;
        color: $white;
    }

    .top-text {
        width: 40%;
        margin: 50px 0 0 50px;
        position: absolute;
        
    }

    .zip-code-section {
        input {
            background-color: rgba($white, .2);  
            outline: 2px solid $orange;
            width: 100px;
            padding: 10px;        
            color: $white;  
        }

        h4 {
            color: $white;
            font-weight: 500;
            font-size: 24px;
        }

        h5, h6 {
            color: $white;
        }

        position: absolute;
        bottom: 70px;
        right: 70px;

        .submit-btn {
            background-color: $orange;
            margin: 10px;
            padding: 10px 30px;
            color: $white;
            cursor: pointer;
        }

        .zipcodesearch {
            display: flex;
            align-items: center;
        }

    }

    .hero-home {
        background-image: url('../img/home-header.png');
        height: 100vh;
    }

    .hero-contact {
        background-image: url('../img/subpage-header.png');
        height: 100vh;
        background-repeat: no-repeat;

        .contact-zip-code-section {
            input {
                background-color: rgba($white, .2);  
                outline: 2px solid $orange;
                width: 100px;
                padding: 10px;        
                color: $white;  
            }
    
            h4 {
                color: $white;
                font-weight: 500;
                font-size: 24px;
            }
    
            h5, h6 {
                color: $white;
            }
    
            .submit-btn {
                background-color: $orange;
                margin: 10px;
                padding: 10px 30px;
                color: $white;
                cursor: pointer;
            }

            .zipcodesearch {
                display: flex;
                align-items: center;
            }
        }

        .contact-info {
            
            h1, p {
                color: $white;
            }

            p {
                font-weight: 500;
                font-size: 24px;  
            }

            li {
                list-style: none;
                color: $white;
            }

            .fa-map-marker-alt, .fa-phone-alt, .fa-phone-alt, .fa-fax {
                color: $orange;
                margin-right: 10px;
                
            }
        }

        .newsletter {
            float: right;
            margin: 100px;

            input {
                background-color: rgba($white, .2);  
                outline: 2px solid $orange;
                width: 100px;
                padding: 10px;        
                color: $white;  
                width: 300px;
            
            }    

            h4, h5 {
                color: white;
            }

            .signup-btn {
                background-color: $orange;
                margin: 10px;
                padding: 10px 30px;
                color: $white;
                cursor: pointer;
                width: 100%;
            }

            .newsletter-input {
                display: flex;
                flex-direction: column;
                align-items: center;

            }
        }
    }

    .hero-standardsubpage {
        
        background-image: url('../img/subpage-header.png');
        height: 100vh;
        background-repeat: no-repeat;
        

        h2 {
            font-weight: 600;
            font-size: 48px;
            
        }

        p {
            color: white;
            font-weight: 300;
            font-size: 24px;
            line-height: 150%;
        }

        .first-btn {
            color: $white;
            outline: 2px solid $orange;
            margin: 10px;
            padding: 10px 30px;
            cursor: pointer;
        }

        .second-btn {
            background-color: $orange;
            margin: 10px;
            padding: 10px 30px;
            color: $white;
            cursor: pointer;
        }
    }




}