.before-gradients {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
}

.find-a-dealer-widget-h3 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 20px;
    color: $white;
    line-height: 36px;
}

#hero {
    position: relative;

    h1 {
        font-size: 64px;
        line-height: 75px;
        color: $white;
    }

    h2 {
        font-size: 48px;
        line-height: 56px;
        font-weight: 600;
    }

    h3 {
        @extend .find-a-dealer-widget-h3;
    }

    p {
        width: 50%;
        margin-bottom: 20px;
        color: white;
        font-weight: 300;
        font-size: 24px;
        line-height: 1.25;
    }

    .buttons {
        margin: 0 -10px;

        .button {
            padding-left: 20px;
            padding-right: 20px;
            margin: 0 10px 20px;
        }
    }


    .find-a-dealer-widget {
        .zip-search {
            width: 250px;

            input {
                &[type="number"] {
                    margin-bottom: 0;
                }

                &[type="submit"] {
                    margin-left: 20px;
                }
            }
        }
    }

    form {
        label {
            @extend .no-select;
            color: $white;
            display: block;
            text-transform: uppercase;
            line-height: 1;
            margin-bottom: 10px;

            &.lg {
                @extend .find-a-dealer-widget-h3;
                text-transform: capitalize;
            }
        }

        input {
            margin: 0;

            &[type="number"],
            &[type="text"] {
                @extend .transition;
                background-color: rgba($white, .2);
                border-color: rgba($black, .2);
                color: $white;
                text-align: center;
                margin: 0 0 20px 2px;

                @include placeholder {
                    color: rgba($white, .8);
                }

                &:focus{
                    background-color: rgba($black, .4);
                    border-color: transparent;
                    @include placeholder {
                        color: rgba($white, .9);
                    }
                }
            }

            &[type="number"] {
                /* Removing spinners */
                /* Firefox */
                -moz-appearance: textfield;
                /* Chrome, Safari, Edge, Opera */
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }

            &[type="submit"] {
                padding: 8px;
                border: 2px solid $orange;

                &:hover {
                    border-color: $white;
                    top: 0;
                }
            }
        }
    }

    .hero-wrapper {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 60px;
        margin-bottom: 60px;
        position: relative;
        z-index: 1;

        &.hero-home {
            height: calc(100vh - 106px);

            &::before {
                @extend .before-gradients;
                background: linear-gradient(108deg, rgba($black, .5) 6%, rgba($black, 0) 47%, rgba($black, .5) 95%);
            }

            .find-a-dealer-widget {
                position: absolute;
                bottom: 70px;
                right: 70px;
            }
        }

        &.hero-default,
        &.hero-contact,
        &.hero-trailer {
            height: 490px;

            &::before {
                @extend .before-gradients;
                background: linear-gradient(93deg, $black 0%, transparent 66%);
            }
        }

        &.hero-contact {
            h1,
            h2 {
                margin-bottom: 30px;
            }

            ul {
                list-style-type: none;
                margin-left: 30px;

                li {
                    color: $white;
                    font-size: 18px;
                    line-height: 1.4;
                    margin-bottom: 10px;
                    position: relative;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    svg {
                        color: $orange;
                        left: -30px;
                        position: absolute;
                    }

                    a {
                        color: $white;

                        &:hover {
                            text-decoration: none;
                            color: $orange;
                        }
                    }
                }
            }
        }

        &.hero-trailer {
            .title-wrapper {
                position: absolute;
                bottom: 60px;
                left: 60px;

                h1 {
                    text-transform: uppercase;
                }

                h2 {
                    margin-bottom: 0;
                }
            }

            .find-a-dealer-widget {
                position: absolute;
                top: 40px;
                right: 70px;
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    #hero {
        h1 {
            font-size: 50px;
            line-height: 55px;
        }

        h2 {
            font-size: 42px;
            line-height: 48px;
        }

         p {
             width: 70%;
         }

        .hero-wrapper {
            &.hero-home {
                height: 700px;
            }

            &.hero-default,
            &.hero-trailer {
                height: 400px;
            }

            &.hero-contact {
                h1,
                h2 {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    #hero {
        h1 {
            font-size: 42px;
            line-height: 48px;
        }

        h2 {
            font-size: 32px;
            line-height: 36px;
        }

        p {
            font-size: 20px;
            line-height: 1.4;
            width: 100%;
        }

        .hero-wrapper {
            padding: 30px;

            &.hero-home {
                height: 500px;

                .find-a-dealer-widget {
                    right: 50px;
                    bottom: 50px;
                }
            }

            &.hero-default,
            &.hero-trailer {
                height: 350px;
            }

            &.hero-trailer {
                .title-wrapper {
                    position: relative;
                    top: auto;
                    left: auto;
                    bottom: auto;
                    width: calc(100% - 270px);
                }

                .find-a-dealer-widget {
                    top: 20px;
                    right: 20px;
                }
            }

            &.hero-contact {
                height: 350px;

                .find-a-dealer-widget {
                    width: auto;
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .find-a-dealer-widget-h3 {
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 1;
    }

    #hero {
        h1 {
            font-size: 32px;
            line-height: 36px;
        }

        h2 {
            font-size: 26px;
            line-height: 30px;
        }

        p {
            font-size: 18px;
            line-height: 1.5;
        }

        .hero-wrapper {
            padding: 20px;

            &.hero-home {
                .find-a-dealer-widget {
                    right: 30px;
                    bottom: 20px;
                    top: auto;
                }
            }

            &.hero-default {
                padding-bottom: 20px;
                height: auto;
            }

            &.hero-contact {
                .find-a-dealer-widget {
                    .zip-search {
                        width: auto;

                        input {
                            &[type="number"] {
                                margin-bottom: 20px;
                            }

                            &[type="submit"] {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(xs) {
    #hero {
        h1 {
            font-size: 26px;
            line-height: 30px;
        }

        h2 {
            font-size: 24px;
            line-height: 28px;
        }

        .hero-wrapper {
            padding: 15px;

            &.hero-home {
                .find-a-dealer-widget {
                    right: auto;
                    left: 15px;
                }
            }

            &.hero-trailer {
                height: auto;

                .find-a-dealer-widget {
                    position: relative;
                    right: auto;
                    bottom: auto;
                    top: auto;
                }

                .title-wrapper {
                    margin-bottom: 30px;

                    h1 {
                        margin-bottom: 5px;
                    }
                }
            }

            &.hero-contact {
                height: auto;

                h1 {
                    margin-bottom: 5px;
                }

                h2 {
                    margin-bottom: 20px;
                }

                form {
                    input {
                        &[type="submit"] {
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }
}