.three-column-block{
    font-family: $font;

    h3.title {
        font-size: 36px;
        line-height: 54px;
        color: $orange;
    }
    
    .buttons {
        display: inline-block;
        justify-content: center;
        padding: 10px 30px;
        border: 2px solid $orange;
        box-sizing: border-box;
        margin-bottom: 30px;

        a {
            color: $black;
            font-size: 18px;
            line-height: 27px;
            font-weight: normal;
        }
    }
    .img-fluid {
        margin-bottom: 20px;
    }
}
@include media-breakpoint-down(lg){
    .three-column-block {
        .wysiwyg {
            margin-bottom: 0;
        }
        h3.title {
            line-height: 40px;
        }
    }
}